<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1 class="display-4 mb-4">Welcome to Your Journal</h1>

      <h3 class="mb-4">
        At Your Journal, we believe in the power of journaling to transform lives. We understand that every day is a journey, filled with unique experiences, emotions, and insights waiting to be discovered.
      </h3>

      <h3 class="mb-4">
        Why Your Journal?
      </h3>

      <ul class="list-unstyled">
        <li>
          <strong>Unleash Creativity:</strong> Express yourself freely in a private and inspiring space. Our platform encourages creativity, allowing your thoughts to flow effortlessly.
        </li>
        <li>
          <strong>Reflect and Grow:</strong> Take a moment to reflect on your daily experiences, set goals, and track personal growth. <%= @app_name %> is your companion in the journey towards self-discovery.
        </li>
        <li>
          <strong>Stay Organized:</strong> Categorize and organize your entries. Whether it's work-related thoughts, personal reflections, or creative musings, keep everything in one place.
        </li>
        <li>
          <strong>Privacy First:</strong> Your thoughts are personal. With Your Journal, your privacy is our priority. Feel secure in the knowledge that your journal is yours and yours alone.
        </li>
      </ul>

      <h3 class="mb-4">
        How It Works:
      </h3>

      <ol class="list-unstyled">
        <li>
          <strong>Sign Up:</strong> Create your account to embark on your journaling journey. It's quick, easy, and free.
        </li>
        <li>
          <strong>Start Journaling:</strong> Dive into the world of journaling. Write about your day, your goals, or anything that matters to you.
        </li>
        <li>
          <strong>Reflect and Connect:</strong> Browse through your entries, visualize your progress, and connect the dots of your journey. <%= @app_name %> is your silent companion, ready to offer insights whenever you need them.
        </li>
      </ol>

      <h3 class="mb-4">
        Join <%= @app_name %> and Transform Your Daily Rituals into a Journey of Self-Discovery.
      </h3>

      <p>
        Ready to get started? <%= link_to 'Sign up now!', '/users/sign_up', class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
</div>
